<table border="1">
    <tr>
        <td>
            <canvas id="boardCanvas"></canvas>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <button type="button" id="startStopButton">
                            <span id="startStopButonSpan">Start</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="range" id="speedSlider">
                            <span id="speedSliderSpan">Speed</span>
                        </input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>