<div id="lifeViewPanel" class="td">
    <div id="lifeViewBody" class="table">
        <div class="tr">
            <div class="td">
                <canvas id="boardCanvas">Canvas is not supported!</canvas>
            </div>
            <div id="lifeViewControls" class="td">
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="startStopButton">
                        <span id="startStopButonSpan" class="ui-button-text">Start</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="resetButton">
                        <span id="resetButonSpan" class="ui-button-text">Reset</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="patternsButton">
                        <span id="patternsButtonSpan" class="ui-button-text">Patterns</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="saveButton">
                        <span id="saveButtonSpan" class="ui-button-text">Save</span>
                    </button>
                </div>
                <div>
                    <input type="range" id="speedSlider">
                    <div id="speedSliderSpan" class="ui-widget">Speed</div>
                    </input>
                </div>
                <div>
                    <span id="generationSpan" class="ui-widget">Generation: </span>
                </div>
            </div>
            <div id="lifeViewNav" class="td">
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="zoomInButton">
                        <span id="zoomInSpan" class="ui-button-text">+</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="zoomOutButton">
                        <span id="zoomOutSpan" class="ui-button-text">-</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="panRightButton">
                        <span id="panRightSpan" class="ui-button-text">&rarr;</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="panLeftButton">
                        <span id="panLeftSpan" class="ui-button-text">&larr;</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="panUpButton">
                        <span id="panUpSpan" class="ui-button-text">&uarr;</span>
                    </button>
                </div>
                <div>
                    <button type="button" class="controlButton ui-button ui-widget ui-corner-all
                        ui-button-text-only ui-state-hover" id="panDownButton">
                        <span id="panDownSpan" class="ui-button-text">&darr;</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
