<div id="patternsViewPanel">
    <div id="patternViewHeader" class="ui-widget ui-widget-header">
        <h1>Stored Patterns</h1>
    </div>

    <div id="patternViewBody" class="ui-widget">
        <table id="patternsList">
            <thead class="ui-widget-header">
                <th></th>
                <th>Name</th>
                <th class="noSort">Load</th>
                <th class="noSort">Delete</th>
            </thead>
            <tbody class="ui-widget-content">
            <% _.each(patternList, function(pattern, idx) { %>
                <tr>
                    <td><%= idx + 1 %></td>
                    <td  class="nameCell"><%= pattern.get('name') %></td>
                    <td class="buttonCell">
                        <button class="loadPatternButton ui-button ui-corner-all ui-button-text-only
                            ui-state-hover" type="button" id="<%= pattern.get('id') %>">
                            <span class="ui-button-text">Load</span>
                        </button>
                    </td>
                    <td class="buttonCell">
                        <button class="deletePatternButton ui-button ui-corner-all ui-button-text-only
                            ui-state-hover" type="button" id="<%= pattern.get('id') %>">
                            <span class="ui-button-text">Delete</span>
                        </button>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <div id="patternViewControls" class="ui-widget">
        <button id="cancelButton" class="ui-button ui-corner-all ui-button-text-only
            ui-state-hover" autofocus>
            <span class="ui-button-text">Cancel</span>
        </button>
        <button id="uploadButton" class="ui-button ui-corner-all ui-button-text-only
            ui-state-hover" autofocus>
            <span class="ui-button-text">Upload</span>
        </button>
    </div>
</div>