html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
}

.no-close .ui-dialog-titlebar-close
{
    display: none;
}

#messageBox h3 {
    text-align: center;
}

/* lifeView */

#lifeViewPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lifeViewPanel td, #lifeViewPanel {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    text-align: center;
}

canvas {
    vertical-align: middle;
}

#controlTable, #controlTable td {
    border: 0;
}

#controlTable td {
    padding: .5em;
    padding-bottom: .4em;
    padding-top: .4em;
}

#controlTable button {
    width: 100%;
}

/* patternsView */

#patternViewControls {
    padding: .5em;
    padding-bottom: .4em;
    padding-top: .4em;
}

#patternViewHeader, #patternViewControls {
    text-align: center;
}

#patternViewBody .buttonCell {
    text-align: center;
}

#patternViewBody .nameCell {
    width: 80%;
}

#fileInput {
    max-width: 100%;
}