html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
}

.no-close .ui-dialog-titlebar-close
{
    display: none;
}

#messageBox h3 {
    text-align: center;
}

/* lifeView */

#lifeView .table {
    display: table;
}

#lifeView .tr {
    display: table-row;
}

#lifeView .td {
    display: table-cell;
}

#lifeView {
    height: 100%;
    width: 100%;
    display: table;
}

#lifeViewPanel {
    vertical-align: middle;
}

#lifeViewBody {
    margin: auto;
}

#lifeViewBody, #lifeViewBody .td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    padding: 0;
}

#boardCanvas {
    display: block;
    border: 0;
}

#lifeViewControls div, #lifeViewNav div {
    text-align: center;
    padding: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
}

#lifeViewControls button, #lifeViewNav button {
    width: 100%;
}

/* patternsView */

#patternViewControls {
    padding: .5em;
    padding-bottom: .4em;
    padding-top: .4em;
}

#patternViewHeader, #patternViewControls {
    text-align: center;
}

#patternViewBody .buttonCell {
    text-align: center;
}

#patternViewBody .nameCell {
    width: 80%;
}

#fileInput {
    max-width: 100%;
}